{% extends "base.html"%}
{% block content %}

<!-- <div id="data" class="col-12""> -->

<!-- Model -->
<style type="text/css">

  .link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

  .node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
  }

  text {
    font: 10px sans-serif;
    pointer-events: none;
  }

  /* .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    /* vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
} */

  </style>

  <body>
  <!-- <script src="//d3js.org/d3.v3.min.js"></script> -->

<div class="container-fluid">
  <div class="row">



    <div id="left-side" class="col-8">

      <div id="network-graph"></div>
      <!-- <script type="text/javascript" src="../static/js/network.js"></script> -->
      <div class="filename">
      <img class="display-im" src="../static/img/step2.png" width="50%" height="50%">
      </div>
    </div>



<!-- Right Side Text -->
<div id="right-side" class="col-4">
  <div class="logo"><a href="/"><h1>WEB OPS.</h1></a></div>

  <h1>A Look into Webpage Recommendation</h1>
  <p>Explore an approach to engage online traffic with this recommender that blends the most relevant content with your most high-value content. <br><br>Get starting now:  </p>

      <form class="" action="{{url_for('wishlist')}}">
<!-- <button class="btn btn-primary text-uppercase small" data-toggle="modal" data-target="#alertModal" type="button" onclick="{{url_for('model')}}">Begin</button> -->
<button class="btn" type="submit" name="" value="submit">Recommend</button>
      </form>
  <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Android</a>
    <a class="dropdown-item" href="#">Apparel</a>
    <a class="dropdown-item" href="#">Bags</a>
    <a class="dropdown-item" href="#">Basket</a>
    <a class="dropdown-item" href="#">Brands</a>
    <a class="dropdown-item" href="#">Drinkware</a>
    <a class="dropdown-item" href="#">Google Apparel</a>
    <a class="dropdown-item" href="#">Headgear</a>
    <a class="dropdown-item" href="{{url_for('youtube')}}">Home</a>
    <a class="dropdown-item" href="#">Google Backpacks</a>
    <a class="dropdown-item" href="#">Accessories</a>
    <a class="dropdown-item" href="#">Men's Shirts</a>
    <a class="dropdown-item" href="#">Electronics</a>
    <a class="dropdown-item" href="#">Sign-in</a>
    <a class="dropdown-item" href="#">Android</a>
    <a class="dropdown-item" href="#">Apparel</a>
    <a class="dropdown-item" href="#">Women's Shirts</a>
    <a class="dropdown-item" href="#">Socks</a>
    <a class="dropdown-item" href="{{url_for('apparel')}}">YouTube</a>
    <a class="dropdown-item" href="#">Wishlist</a> -->



	<!-- <div id="particles-js"></div> -->



				<div class="social">
					<ul>
						<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/jaime-garvey" target="_blank"><i class="fab fa-github"></i></a></li>
					</ul>
					<p>App by Jaime Garvey</p>
				</div>

		</div>


  </div>
  </div>

		<!-- Right Side Text End -->



<!-- Model END-->
{% endblock %}
