{% extends "base.html"%}
{% block content %}
<!-- preloader -->

<!-- <body onunload="">
<div class="preloader">
	<div class="wrap">
		<div class="zgroup">
				<div class="bigSqr">
					<div class="square first"></div>
					<div class="square second"></div>
					<div class="square third"></div>
					<div class="square fourth"></div>
				</div>
		</div>
		</div>
</div> -->
<!-- -->


<div class="container-fluid">
	<div class="row">

		<!-- left side -->
		<div id="left-side" class="col-6">
			<div class="item__portfolio item">
				<a href="https://shop.googlemerchandisestore.com/Google+Redesign/Bags/Google+Incognito+Flap+Pack" target="_blank">
					<!-- <div class="caption">
						<h4>slideshow.</h4>
						<span>view project</span>
					</div> -->
					<img src="../static/img/gbag.png">
				</a>
			</div>
			<!-- <div class="item__portfolio item animated">
				<a href="single-video.html">
					<div class="caption">
						<h4>video.</h4>
						<span>view project</span>
					</div>
					<img src="img/portfolio/3.jpg">
				</a>
			</div>
			<div class="item__portfolio item animated">
				<a href="single-image.html">
					<div class="caption">
						<h4>image.</h4>
						<span>view project</span>
					</div>
					<img src="img/portfolio/7.jpg">
				</a>
			</div>
			<div class="item__portfolio item animated">
				<a href="single-slideshow.html">
					<div class="caption">
						<h4>slideshow.</h4>
						<span>view project</span>
					</div>
					<img src="img/portfolio/6.jpg">
				</a>
			</div> -->
		</div>

		<!-- end left side -->

<!-- right side -->

<div id="right-side" class="col-6"">

<!-- mobile nav -->
<!-- <div class="mobile-icon"><i class="fas fa-bars"></i></div>
<div class="mobile-nav">
	<i class="fas fa-times"></i>
	<ul class="menu">
		<li><a href="index.html" class="active">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="model.html">Model</a></li>
	</ul>
</div>
</div> -->
<!-- -->

<div id="particles-js"></div>
<!-- -->

<div class="logo"><a href="{{url_for('index')}}"><h1>WEB OPS.</h1></a></div>
			<div class="wrapper">
				<h2>Web -<br><span>Personalization</span></h2>
				<p>A Markov approach<br>for personalize webpage recommendations. <br>Data from Google Merchandise Store.</p>
				<!-- <ul class="menu">
					<li><a href="/" class="active">Home</a></li>
					<li><a href="model.html">Model</a></li>
					<li><a href="blog.html">Data</a></li>
				</ul> -->
				<br>
				<p>Click to <span class="typewrite" data-period="2000" data-type='[ "Explore.", "Learn.", "Visualize."]'></span></p>
				<form class="" action="{{url_for('model')}}">
<!-- <button class="btn btn-primary text-uppercase small" data-toggle="modal" data-target="#alertModal" type="button" onclick="{{url_for('model')}}">Begin</button> -->
<button class="btn" type="submit" name="" value="submit">Begin</button>
				</form>

			</div>
			<div class="social">
				<ul>
					<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="https://github.com/jaime-garvey" target="_blank"><i class="fab fa-github"></i></a></li>
				</ul>
				<p>App by Jaime Garvey</p>
			</div>

		<!-- end right side -->

	</div>
	</div>


  <!-- </html> -->
{% endblock %}
