{% extends "base.html"%}
{% block content %}

<!-- <div id="data" class="col-12""> -->

<!-- Model -->
<style type="text/css">

  .link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

  .node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
  }

  text {
    font: 10px sans-serif;
    pointer-events: none;
  }

  /* .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    /* vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
} */

  </style>

  <body>
  <script src="//d3js.org/d3.v3.min.js"></script>

<div class="container-fluid">
  <div class="row">



    <div id="left-side" class="col-8">

      <div id="network-graph"></div>
      <!-- <script type="text/javascript" src="../static/js/network.js"></script> -->
      <script>

      // http://blog.thomsonreuters.com/index.php/mobile-patent-Ns-graphic-of-the-day/
      var links = [
  {source: "Home", target: "Google Apparel", type: "N"},
  {source: "Home", target: "Android", type: "licensing"},
  {source: "Brands", target: "Apparel", type: "N"},
  {source: "YouTube", target: "Apparel", type: "N"},
  {source: "Men's Shirts", target: "Apparel", type: "T"},
  {source: "Android", target: "Apparel", type: "N"},
  {source: "Wishlist", target: "Apparel", type: "N"},
  {source: "Home", target: "Drinkware", type: "N"},
  {source: "Home", target: "Socks", type: "N"},
  {source: "Sign-in", target: "Google", type: "N"},
  {source: "Apparel", target: "Android", type: "N"},
  {source: "Home", target: "Accessories", type: "N"},
  {source: "Brands", target: "Wishlist", type: "T"},
  {source: "Google Backpacks", target: "Wishlist", type: "T"},
  {source: "Basket", target: "Wishlist", type: "N"},
  {source: "Sony", target: "Google Backpacks", type: "N"},
  {source: "Wishlist", target: "Google Backpacks", type: "T"},
  {source: "Apparel", target: "Men's Shirts", type: "T"},
  {source: "Bags", target: "Men's Shirts", type: "T"},
  {source: "Apparel", target: "YouTube", type: "N"},
  {source: "Home", target: "YouTube", type: "N"},
  {source: "YouTube", target: "Home", type: "N"},
  {source: "Headgear", target: "Electronics", type: "N"},
  {source: "Womens Shirts", target: "Electronics", type: "N"},
  {source: "Wishlist", target: "Brands", type: "T"},
  {source: "Apparel", target: "Brands", type: "N"},
  {source: "Wishlist", target: "Basket", type: "N"},
  {source: "Men's Shirts", target: "Bags", type: "N"}
];


      // var links = [{source: "Home", target: "Google Apparel", type: "1"},
      //             {source: "Brands", target: "YouTube", type: "1"},
      //             {source: "YouTube", target: "Google Apparel", type: "1"},
      //             {source: "YouTube", target: "Headgear", type: "1"},
      //             {source: "YouTube", target: "Electronics", type: "1"},
      //             {source: "Men's Shirts", target: "YouTube", type: "1"},
      //             {source: "Men's Shirts", target: "Basket", type: "2"},
      //             {source: "Men's Shirts", target: "Accessories", type: "1"},
      //             {source: "YouTube", target: "Drinkware", type: "1"},
      //             {source: "Brands", target: "Google", type: "2"},
      //             {source: "Sign-in", target: "Drinkware", type: "1"},
      //             {source: "Apparel", target: "Bags", type: "2"},
      //             {source: "Apparel", target: "Basket", type: "2"},
      //             {source: "Android", target: "Google Apparel", type: "1"},
      //             {source: "Android", target: "Home", type: "1"},
      //             {source: "Google Backpacks", target: "Google Apparel", type: "1"},
      //             {source: "Google Backpacks", target: "Home", type: "1"},
      //             {source: "Google Backpacks", target: "Bags", type: "1"},
      //             {source: "Google Backpacks", target: "Android", type: "1},
      //             {source: "Wishlist", target: "Basket", type: "2"},
      //             {source: "Accessories", target: "Brands", type: "2"},
      //             {source: "Wishlists", target: "Home", type: "1"},
      //             {source: "Brands", target: "Basket", type: "1"},
      //             {source: "Google Backpacks", target: "Bags", type: "1"},
      //             {source: "Wishlists", target: "Womens Shirts", type: "1"},
      //             {source: "Women Shirts", target: "Accessories", type: "1"},
      //             {source: "Socks", target: "Bags", type: "1"},
      //             {source: "Socks", target: "Electronics", type: "1"}];

      var nodes = {};

      // Compute the distinct nodes from the links.
      links.forEach(function(link) {
        link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
      });

      var width = 960,
          height = 500;

      var force = d3.layout.force()
          .nodes(d3.values(nodes))
          .links(links)
          .size([width, height])
          .linkDistance(60)
          .charge(-300)
          .on("tick", tick)
          .start();

      var svg = d3.select("#network-graph").append("svg")
        .attr("width", width)
        .attr("height", height);

      var link = svg.selectAll(".link")
          .data(force.links())
        .enter().append("line")
          .attr("class", "link");

      var node = svg.selectAll(".node")
          .data(force.nodes())
        .enter().append("g")
          .attr("class", "node")
          .on("mouseover", mouseover)
          .on("mouseout", mouseout)
          .call(force.drag);

      node.append("circle")
          .attr("r", 8);

      node.append("text")
          .attr("x", 12)
          .attr("dy", ".35em")
          .text(function(d) { return d.name; });

      function tick() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
      }

      function mouseover() {
        d3.select(this).select("circle").transition()
            .duration(750)
            .attr("r", 16);
      }

      function mouseout() {
        d3.select(this).select("circle").transition()
            .duration(750)
            .attr("r", 8);
      }

      </script>
    </div>



<!-- Right Side Text -->
<div id="right-side" class="col-4">
  <div class="logo"><a href="/"><h1>WEB OPS.</h1></a></div>

  <h1>A Look into Webpage Recommendation</h1>
  <p>Explore an approach to engage online traffic with this recommender that blends the most relevant content with your most high-value content. Get starting now:  </p>
  <div class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose Page
    </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Android</a>
    <a class="dropdown-item" href="#">Apparel</a>
    <a class="dropdown-item" href="#">Bags</a>
    <a class="dropdown-item" href="#">Basket</a>
    <a class="dropdown-item" href="#">Brands</a>
    <a class="dropdown-item" href="#">Drinkware</a>
    <a class="dropdown-item" href="#">Google Apparel</a>
    <a class="dropdown-item" href="#">Headgear</a>
    <a class="dropdown-item" href="{{url_for('youtube')}}">Home</a>
    <a class="dropdown-item" href="#">Google Backpacks</a>
    <a class="dropdown-item" href="#">Accessories</a>
    <a class="dropdown-item" href="#">Men's Shirts</a>
    <a class="dropdown-item" href="#">Electronics</a>
    <a class="dropdown-item" href="#">Sign-in</a>
    <a class="dropdown-item" href="#">Android</a>
    <a class="dropdown-item" href="#">Apparel</a>
    <a class="dropdown-item" href="#">Women's Shirts</a>
    <a class="dropdown-item" href="#">Socks</a>
    <a class="dropdown-item" href="#">YouTube</a>
    <a class="dropdown-item" href="#">Wishlist</a>

  </div>
  </div>

	<!-- <div id="particles-js"></div> -->



				<div class="social">
					<ul>
						<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/jaime-garvey" target="_blank"><i class="fab fa-github"></i></a></li>
					</ul>
					<p>App by Jaime Garvey</p>
				</div>

		</div>

		<!-- Right Side Text End -->



</div>

</div>



<!-- Model END-->
{% endblock %}
