{% extends "base.html"%}
{% block content %}

<div id="data" class="col-12"">

<!-- PUT RIGHT HERE -->

<div id="particles-js"></div>

<div class="logo"><a href="/"><h1>WEB OPS.</h1></a></div>

			<div class="social">
				<ul>
					<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="https://github.com/jaime-garvey" target="_blank"><i class="fab fa-github"></i></a></li>
				</ul>
				<p>App by Jaime Garvey</p>
			</div>

	</div>

{% endblock %}
