{% extends "base.html"%}
{% block content %}

<!-- <div id="data" class="col-12""> -->

<!-- Model -->
<style type="text/css">

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

</style>

<script src="https://d3js.org/d3.v3.min.js"></script>



<div class="container-fluid">
  <div class="row">

    <div class="col">
      <div class="">
      <script type="text/javascript" src="../static/js/network.js"></script>
      </div>
    </div>


<!-- Right Side Text -->
<div id="right-side" class="col-6">
  <div class="logo"><a href="/"><h1>WEB OPS.</h1></a></div>
	<br>
	<br>
	<br>
	<br>
	<br>
  <h1>A Look into Webpage Recommendation</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <br>
	<br>
	<br>

	<div id="particles-js"></div>



				<div class="social">
					<ul>
						<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/jaime-garvey" target="_blank"><i class="fab fa-github"></i></a></li>
					</ul>
					<p>App by Jaime Garvey</p>
				</div>

		</div>

		<!-- Right Side Text End -->

</div>

</div>
<!-- </div> -->


<!-- Model END-->
{% endblock %}
